# Node / package managers
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Env & secrets
.env*
!.env.example

# Build outputs
dist/
build/
.out/
.next/
.vercel/
.turbo/
.cache/
coverage/
.tmp/
temp/

# Tooling
.DS_Store
.idea/
.vscode/
*.swp

# TypeScript
*.tsbuildinfo
